<h1 class="text-center">Leaks</h1>


<div class="leakSlider">
  {{#each leaks}}
    <div>
      <span class="leakInfo"><strong>Title:</strong> {{this.title}}</span><br>
      <div class="leakInfo description"><strong>Description:</strong> {{this.intro}}</div>
      <img src="{{this.img}}" style="width: 500px">
      {{!-- Comment Modal Trigger Button --}}
      <button type="button" class="btn btn-success commentButton" data-toggle="modal" data-target="#commentModal" data-leak="{{this._id}}">Add a Comment</button>

      <h2>Comments</h2>

      {{#if this.comments}}
        {{#each this.comments}}

          <div>
            <h4>User:</h4> {{user}}<br>
            <h4>Comment:</h4> {{comment}}
          </div>
          <br>

        {{/each}}
      {{else}}
        [There are no comments yet]
      {{/if}}
    </div>
  {{/each}}
</div>

<div id="commentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a comment</h4>
      </div>
      <div class="modal-body">
        {{#each comments}}
          <span>{{this.comment}}</span>
        {{/each}}

        <form method='POST' action="/">
          Pseudonym: <input type='text' name='user' id='user' /><br />

          Comment:<br />
          <textarea name='comment' id='comment'></textarea><br />

          <input type='hidden' name='leak' id='leakId' value="" />

          <input type='submit' value='Submit' />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
